<header class="bg-zinc-950">
  <div class="container h-16 flex items-center gap-9">
    <a href="/" class="text-zinc-300">Home</a>
    <a href="/" class="text-zinc-300">Home</a>
    <a href="/" class="text-zinc-300">Home</a>
  </div>
</header>